<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    
    
    <filter>
        <filter-name>RouterFilter</filter-name>
        <filter-class>controller.filter.RouterFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>RouterFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>controller.login.loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginAdminServlet</servlet-name>
        <servlet-class>controller.login.loginAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>handleClickAdmin</servlet-name>
        <servlet-class>controller.handleClick.handleClickAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dashboardServlet</servlet-name>
        <servlet-class>controller.admin.dashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addProductServlet</servlet-name>
        <servlet-class>controller.admin.addProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editProductServlet</servlet-name>
        <servlet-class>controller.admin.editProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayImageServlet</servlet-name>
        <servlet-class>controller.admin.DisplayImageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteProductServlet</servlet-name>
        <servlet-class>controller.admin.deleteProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>confirmAddProduct</servlet-name>
        <servlet-class>controller.admin.confirmAddProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>confirmDeleteProductServlet</servlet-name>
        <servlet-class>controller.admin.confirmDeleteProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutServlet</servlet-name>
        <servlet-class>controller.admin.logoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>handleClickHome</servlet-name>
        <servlet-class>controller.handleClick.handleClickHome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>settingServlet</servlet-name>
        <servlet-class>controller.admin.settingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>readmoreServlet</servlet-name>
        <servlet-class>controller.store.readmoreServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cartServlet</servlet-name>
        <servlet-class>controller.store.cart.cartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>categoriesServlet</servlet-name>
        <servlet-class>controller.store.categories.categoriesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addToCartServlet</servlet-name>
        <servlet-class>controller.store.cart.addToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>totalPrice</servlet-name>
        <servlet-class>controller.store.cart.totalPrice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>homePageServlet</servlet-name>
        <servlet-class>controller.store.homePage.homePageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>orderServlet</servlet-name>
        <servlet-class>controller.admin.orderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteOrder</servlet-name>
        <servlet-class>controller.admin.deleteOrder</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginAdminServlet</servlet-name>
        <url-pattern>/loginAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>handleClickAdmin</servlet-name>
        <url-pattern>/handleClickAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dashboardServlet</servlet-name>
        <url-pattern>/dashboardServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addProductServlet</servlet-name>
        <url-pattern>/addProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editProductServlet</servlet-name>
        <url-pattern>/editProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayImageServlet</servlet-name>
        <url-pattern>/DisplayImageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteProductServlet</servlet-name>
        <url-pattern>/deleteProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>confirmAddProduct</servlet-name>
        <url-pattern>/confirmAddProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>confirmDeleteProductServlet</servlet-name>
        <url-pattern>/confirmDeleteProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutServlet</servlet-name>
        <url-pattern>/logoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>handleClickHome</servlet-name>
        <url-pattern>/handleClickHome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>settingServlet</servlet-name>
        <url-pattern>/settingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>readmoreServlet</servlet-name>
        <url-pattern>/readmoreServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cartServlet</servlet-name>
        <url-pattern>/cartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>categoriesServlet</servlet-name>
        <url-pattern>/categoriesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addToCartServlet</servlet-name>
        <url-pattern>/addToCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>totalPrice</servlet-name>
        <url-pattern>/totalPrice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>homePageServlet</servlet-name>
        <url-pattern>/homePageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>orderServlet</servlet-name>
        <url-pattern>/orderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteOrder</servlet-name>
        <url-pattern>/deleteOrder</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>pages/loginPage/loginMain.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/error_page.jsp</location>
    </error-page>
</web-app>
